.vs/
build/
out/
*.zip
third_party/
ACSetupSvcPort=*
ACSvcPort=*
COMPUTERNAME=*
CommandPromptType=*
EnableLog=*
Framework*
GCExpConfigUsedInSession=*
MSBuildLoadMicrosoftTargetsReadOnly=*
NUMBER_OF_PROCESSORS=*
OS=*
PATHEXT=*
PROCESSOR_*
PROMPT=*
RlsSvcPort=*
SESSIONNAME=*
ServiceHubLogSessionKey=*
SignInWithHomeTenantOnly=*
ThreadedWaitDialogDpiContext=*
UCRTVersion=*
USER*
VC*
VS*
VSCMD_*
__DOTNET_*
